* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 85%;
    margin: auto;
    padding: 0px 0px 0px 0px;
    background-color: #fefffd;
    /* border: 15px groove; */
}

header {
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #c67588;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 40px;
    font-family: cursive;
    text-shadow: 4px 4px 4px rgb(46, 120, 181);
}

nav {
    margin-top: 15px;
    padding-right: 100px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #100f0f;
    text-decoration: none;
}

h2  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #77608e;
}